@font-face {
  font-family: Aleo;
  src: url(../assets//fonts/Aleo.ttf);
}

body {
  margin: 0;
  font-family: Aleo;
  background-color: #ffd6b3;
}

main {
  margin: 2.5rem auto;
  max-width: 500px;
  padding: 0 1rem;
}

a {
  color: #253946;
}

#profile-pic {
  max-width: 300px;
  height: auto;
  margin: 0 auto 1rem auto;
}

#profile-pic img {
  border-radius: 20%;
}

#social-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

#social-bar a {
  margin: 0 0.25rem;
}
